@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');

*, html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#gantiCover {
  position: absolute;
  width: 10%;
  height: 40px;
  background: transparent;
  z-index: 4;
}

#gantiCover2 {
  position: absolute;
  width: 10%;
  right: 0;
  height: 40px;
  background: transparent;
  z-index: 4;
}

.alert {
  font-family: 'Sometype Mono', monospace;
  display: none;
  color: black;
  font-weight: 800;
}

img {
  position: fixed;
}

.container {
  display: flex;
  justify-content: center;
}

.cover-klik {
  font-family: 'Sometype Mono', monospace;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #282828;
  color: #F2F2F2;
  box-shadow: 0 0 10px #282828;
  font-weight: 900;
  font-size: 24px;
  border-radius: 25px;
  width: 50%;
  height: 50px;
  bottom: 10%;
  animation: cover-klik 1s ease-in-out infinite alternate;
  transition: all .3s ease;
}

.cover-klik:hover {
  border: 2px solid #282828;
  background: transparent;
  color: var(--colorDark);
  transition: all .3s ease;
}

@keyframes cover-klik {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}

.cover-klick:hover {
  cursor: pointer;
}

@media (min-width: 475px) {
  .container {
    display: none;
  }

  .alert {
    display: block;
  }
}

@media (max-width: 310px) {
  .container {
    display: none;
  }

  .alert {
    display: block;
  }
}