.h1-soal {
  text-align: center;
  margin: 20px;
}

.soal {
  margin-left: 30px;
  font-size: 20px;
  color: var(--colorDark);
  bottom: 55%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.jawaban {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 200px;
  font-size: 45px;
  font-weight: 800;
  bottom: 20%;
}

.jawaban h1 {
  font-family: 'Sometype Mono', monospace;
  position: relative;
  color: #F2F2F2;
  padding: 10px;
  border-radius: 8%;
  background:#282828;
}
.jawaban h1:hover {
  color: #F2F2F2;
  padding: 25px;
  border-radius: 100%;
  text-shadow: 0 0 5px #FFCF01,
  0 0 10px #FFCF01, 0 0 50px #FFCF01;
  box-shadow: 0 0 10px #282828;
  background:#282828;
}